.wrapper {
	width: 1024px;
	margin-left: auto;
	margin-right: auto;
}

body{
	background-color: #424242;
}

#textHolder, #textEditHolder{
	
	width: 400px;
	height: 500px;
	background-color: white;
}

#loginBox{
	color: white;
	margin-bottom: 20px;
} 

#nameHolder{
	background-color: #009900;
	color: white;
}

#loginTbHolder, #passwdTbHolder , #sigInBtnHolder {
	display: inline-block;
}

#loginTbHolder , #passwdTbHolder  {
	height: 18px; 
}

.hidden {
	display: none;
	margin-left: 40px
}

#saveBtnHolder {
	margin-top: 10px;
}

#descrHolder, #offerHolder, #contactHolder, #nameTextBox, #descrTextBox, #offerTextBox, #saveBtnHolder{
	margin-left: 10px;
}

#nameHolder, #descrHolder, #offerHolder, #contactHolder, #contactHolder1, #contactHolder2{
	padding: 5px;
}

#nameHolder{
	padding-top: 20px;
	font-size: x-large;
}

#descr, #contact, #offer{
	
	background-color: #c5c5c5;
	
	
}
#name{
	margin-right: 10px;
	margin-left: 10px;
	padding-top: 10px;
}

#editName, #editDescr, #editOffer, #editContact{
	padding: 10px;
	background-color: #c5c5c5;
}


#contactTextBox, #contactTextBox1, #contactTextBox2, #contactHolder, #contactHolder1, #contactHolder2{
	display: block;
	margin-left: 10px;
	padding-top: 5px;
	margin-right: 10px;
}